
/* font style */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* banner */
.background-img{
   background-image:linear-gradient(to right, rgba(0,0,0,0.5), rgba(255,0,0,0.5)), url("./images/Banner\ Image.png");
    width: 1300px;
    height: 600px;
    /* margin: 50px 120px 140px 140px; */
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    border-radius: 10px;
}

.banner{
    /* padding:  177px 344px; */
    text-align: center;
    align-items: center;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.banner-title{
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}
.banner-sub-title{
    color: rgb(255, 255, 255);
    /* text-align: center; */
    font-size: 72px;
    font-weight: 900;
}
.new-year{
  text-align: center;

}
.new-year .offer{
  color: #FF0000;
  font-size: 88px;
  font-weight:bold;
  margin-bottom: 48px;
}
.new-year .title{
  color: #FF0000;
  font-size: 24px;
  font-weight: medium;
  margin-bottom: 16px;
}
.new-year .sub-title{
  color: #070211;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 48px;
}
.new-year-photo{
  width: 802px;
  height: auto;
  margin-bottom: 120px;
}

/* wellcome party  */
.Welcome-party{
  background-image:linear-gradient(to left, rgba(0,0,0,0.5), rgba(255,0,0,0.5)), url("./images/Vectorrr.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 1320px;
  height: 600px;
  margin: 0 auto;
  border-radius: 5px;
  background-blend-mode: darken;
}
.Welcome-party{
  display: flex;
  justify-content:space-between;
  gap: 94px;
  margin-bottom: 120px;
}
.welcome-party-text {
  margin-left: 126px;
}
.welcome-party-title{
 font-size: 64px;
  font-weight: black;
  color: white;
  max-width: 642px;
  margin-top: 126px;
  margin-bottom: 24px;
}
.welcome-party-decription{
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
  max-width: 697px;
}
.welcome-party-link{
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 22px;
}
.welcome-party-img{
  margin-top: 68px;
  margin-right: 138px;
  width: 319px;
  height: 464px;
}

/* section card */
.card{
  background: #FF0000;
  background: linear-gradient(to bottom, #ffeaea, #fff);
  width: 1320px;
  height: 482px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 120px;
}
span {
  color: #FF0000;
}
.card-text{
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 20px;
 
}
.prymary-btn{
  background-color: #FF0000;
  color: white;
  /* height: 56px;
  width: 162px; */
  padding: 16px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  border: none;
}
.prymary-btn:hover{
  background-color: #cc0000;
  transition: 0.3s;
}
/* invaitation-content */
.invaitation-content{
  width: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto
}
.invaitation-offer{
  max-width: 30%;
}
.invaitation-greetings .greetings-title , .greetings-description{
  width :276px;
}
.invaitation-content-subtitle{
  color: #FF0000;
  font-size: 24px;
  font-weight: medium;
  margin-bottom: 16px;
  
}
.invaitation-content-title{
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
  
}
.invaitation-content-description{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 32px;
  max-width: 393px;
}
.invaitation-img{
  width: 463px;
  height: 463px;
  border: 10px solid #FF0000;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 0 auto;
  
}
.greetings-title{
  color: #FF0000;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 16px;
}
  .greetings-description{
    font-size: 20px;
  font-weight: 400;
  margin-bottom: 43px;
}
.new-year-img{
  width: 140px;
}
/* funtional-container */
.funtional-container{
  margin-top: 150px;
  text-align: center;
  margin-bottom: 120px;
  /* max-width: 1320px; */
  align-items: center;
 
}
.what-is-functional{
  font-size: 24px;
  font-weight:500PX;
}
.funtional-title{
  font-size: 74px;
  font-weight: 900;
}
.funtional-description{
  font-size: 20px;
  width: 500;
  max-width: 1068px;
  margin: 0 auto;
  
}

/* funtional-img */
.img{
  position: relative;
  
}
.img-50{
 top: 500px;
 left: 450px;
 margin-top: none;
}
.gift-box{
  z-index: 1;
  top: 100px;
  left: -200px;
}
.red-line{
  top: -100px;
}
/* gift section */
.gift-items{
  max-width: 1320px;
  margin: 0 auto 120px auto;
  
}
.gift-items-details{
padding: 20px;
margin-left: 60px;
}

.gift-items-details  .title {
  color: #FF0000;
  font-size: 24px;
  font-weight: 500px;
}
.gift-items-details .sub-title{
  font-size: 48px;
  font-weight: 900;

}
.gift-items-details .descriotion{
  font-size: 20px;
  font-weight: 400;
  max-width: 896px;
  margin-bottom: 48px;
  
  
}
.gift-img{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px; /* space between columns */
  row-gap: 20px;
  /* display: block; */
  max-width: 1200px;
  text-align: center;
  align-items: center;
  margin: 0 auto 120px auto;
}